h1 {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 60vw;
  text-transform: uppercase;
  text-decoration: underline;
}

#formProduit, .formulaire {
  width: 25vw;
  margin: auto;
  border: $border;
  border-radius: 10px;
  min-height: 30vh;
  padding: 0 2rem;
  box-shadow: $shadow;
  .form-group {
    display: grid;
    label {
      text-transform: uppercase;
    }
    input {
      border: 0.1rem solid black;
      border-radius: 10px;
      padding-left: 0.5rem;
    }
    textarea{
      border: 0.1rem solid black;
      border-radius: 10px;
      padding-left: 0.5rem;
      min-height: 120px;
      resize: vertical;
    }
  }

  button {
    
    height: 2rem;
    width: 100%;
    border-radius: 10px;
    background-color: $btnValidation;
    box-shadow: $shadow;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}
