h1{
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 60vw;
  text-transform: uppercase;
  text-decoration: underline;
}

.formulaire{
  width: 60vw;
  margin: auto;
  display: flex;
  justify-content: center;
}