header {
  // position: absolute;
  // float: left;
  text-transform: capitalize;
  height: 11vh;
  width: 100%;
  border-bottom: $border;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  font-family: $josefin;
  letter-spacing: 0.2rem;
  background-color: $bgColor2;
  box-shadow: $shadow;
  z-index: 10;

  .icons {
    font-size: 24px;
    display: flex;
    justify-content: end;
    margin: auto;
    width: 80px;

    a {
      color: $textColor;
      padding: auto;

      &:hover {
        color: $hoverColor;
        // text-decoration: underline;
      }
      &:visited {
        color: $textColor;
      }
    }
  }

  #user {
    font-size: 12px;
    display: flex;
    justify-content: end;
    margin: auto;
    font-family: $shippori;
    letter-spacing: 0.1rem;
    width: 300px;

    .register,
    .login,
    .logout {
      width: 250px;
      padding: 10px;
      margin-right: 5px;
      text-align: center;
    }

    a {
      color: $textColor;
      padding: auto;
      text-decoration: none;
      text-transform: uppercase;
      height: 20px;

      &:hover {
        color: $hoverColor;
        // text-decoration: underline;
      }
    }
  }

  nav {
    margin: auto;
    a {
      vertical-align: baseline;
      text-decoration: none;
      color: $textColor;
      margin: 0px 80px;
      font-weight: 500;
      font-size: 20px;

      &:hover {
        color: $hoverColor;
        // text-decoration: underline;
      }
    }
  }
}
