// Couleur

$textColor: #444;
$bgColor: #fff;
$bgColor2: #e0e0e0;
$hoverColor: #FC58BF;
$border: 0.1rem solid rgba(18,18,18, 0.1);
$primaryColor: #83266a;
$shadow: 0px 17px 17px rgba(0,0,0, 0.3);

// Font
$roboto: 'Roboto', sans-serif;
$shippori: 'Shippori Antique B1', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$satisfy: 'Satisfy', cursive;
$acme: 'Acme', sans-serif;