@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
header {
  text-transform: capitalize;
  height: 11vh;
  width: 100%;
  border-bottom: 0.1rem solid rgba(18, 18, 18, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: middle;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.2rem;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

header .icons {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: auto;
  width: 80px;
}

header .icons a {
  color: #444;
  padding: auto;
}

header .icons a:hover {
  color: #fc58bf;
}

header .icons a:visited {
  color: #444;
}

header #user {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: auto;
  font-family: "Shippori Antique B1", sans-serif;
  letter-spacing: 0.1rem;
  width: 300px;
}

header #user .register,
header #user .login,
header #user .logout {
  width: 250px;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
}

header #user a {
  color: #444;
  padding: auto;
  text-decoration: none;
  text-transform: uppercase;
  height: 20px;
}

header #user a:hover {
  color: #fc58bf;
}

header nav {
  margin: auto;
}

header nav a {
  vertical-align: baseline;
  text-decoration: none;
  color: #444;
  margin: 0px 80px;
  font-weight: 500;
  font-size: 20px;
}

header nav a:hover {
  color: #fc58bf;
}

footer {
  text-transform: capitalize;
  min-height: 10vh;
  border-top: 0.1rem solid rgba(18, 18, 18, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: middle;
  letter-spacing: 0.1rem;
  background-color: #fdfdfd;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div a {
  text-decoration: none;
  color: #444;
  margin: 0px 80px;
  font-weight: 500;
  font-size: 40px;
}

footer div a:hover {
  color: #fc58bf;
}

footer div a span {
  font-size: 12px;
  vertical-align: middle;
}

main {
  min-height: 90vh;
}

main #menu_admin {
  min-height: 50vh;
}

#profil {
  width: 30%;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  width: 60vw;
  text-transform: uppercase;
  text-decoration: underline;
}

#formProduit, .formulaire {
  width: 25vw;
  margin: auto;
  border: 0.1rem solid rgba(18, 18, 18, 0.1);
  border-radius: 10px;
  min-height: 30vh;
  padding: 0 2rem;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#formProduit .form-group, .formulaire .form-group {
  display: -ms-grid;
  display: grid;
}

#formProduit .form-group label, .formulaire .form-group label {
  text-transform: uppercase;
}

#formProduit .form-group input, .formulaire .form-group input {
  border: 0.1rem solid black;
  border-radius: 10px;
  padding-left: 0.5rem;
}

#formProduit .form-group textarea, .formulaire .form-group textarea {
  border: 0.1rem solid black;
  border-radius: 10px;
  padding-left: 0.5rem;
  min-height: 120px;
  resize: vertical;
}

#formProduit button, .formulaire button {
  height: 2rem;
  width: 100%;
  border-radius: 10px;
  background-color: #0fa10f;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

table {
  font-family: "Shippori Antique B1", sans-serif;
  margin: 3rem auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 80%;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}

table thead {
  background-color: #d1d1d1;
  color: #1a1a1a;
}

table tr {
  height: 50px;
  border: 0.1rem solid black;
}

table tbody {
  background-color: #fefefe;
}

table .fas {
  font-size: 22px;
}

table .fas:visited {
  color: inherit;
}

table .fa-sticky-note {
  color: rgba(0, 0, 0, 0.5);
}

table .fa-minus-circle {
  color: red;
}

#new_produit {
  margin-left: 60vw;
  text-align: center;
}

#new_produit #btn_new_produit {
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: #0fa10f;
  color: #fff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.success, .warning {
  margin: 3rem auto;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  width: 20vw;
}

.success {
  background-color: #0fa10f;
  color: #fff;
}

.warning {
  background-color: red;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=style.css.map */